# Database configuration
POSTGRES_USER=your-db-user-here
POSTGRES_PASSWORD=your-db-password-here
POSTGRES_DB=your-db-name-here

# Application configuration (Blue)
APP_VERSION=1.0.0
ENVIRONMENT_NAME=blue

# Application configuration (Green)
APP_VERSION_GREEN=2.0.0
ENVIRONMENT_NAME_GREEN=green

# Feature flags for Green environment
FEATURE_PHONE_NUMBER_ENABLED=true
FEATURE_PROFILE_PICTURE_ENABLED=true
